html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  max-width: 1950px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: rgba(51, 26, 47, 0.8);
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0px 15px 0px 15px;
}

/*============= header ==============
====================================*/
.header {
  height: 100px;
  margin-top: 20px;
}

.header__inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  padding-right: 25px;
  border-right: 1px solid rgba(51, 26, 47, 0.5);
}

.header__logo-p {
  display: block;
  max-width: 225px;
  padding-left: 25px;
  text-align: start;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(51, 26, 47, 0.9);
}

.header__menu {
  width: calc(100% - 525px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-link {
  margin-right: 50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331A2F;
}

.header__menu-link:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #CF51CE;
}

.header__menu-link:first-child::after {
  content: url(../img/icons/polygon1.svg);
  margin-left: 12px;
}

.header__menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-link {
  margin-right: 90px;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #331A2F;
}

.header__right-link:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #CF51CE;
}

.header__right-link::before {
  content: url(../img/icons/phone.svg);
  margin-right: 8px;
}

.header__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 33px 11px 33px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 23px;
  color: #000;
  line-height: 0;
  -webkit-box-shadow: inset 0 -5px 0 #40382D;
          box-shadow: inset 0 -5px 0 #40382D;
}

.header__menu-btn:hover {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: inset 0 -60px 0 #CF51CE, 2px 2px 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -60px 0 #CF51CE, 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.header__menu-btn::before {
  content: url(../img/icons/arrow.svg);
  margin-right: 14px;
}

.header__btn-width760 {
  display: none;
}

@media (max-width: 1390px) {
  .header {
    height: 74px;
  }
  .header__logo-img {
    width: 187px;
    padding-right: 15px;
  }
  .header__logo-p {
    max-width: 165px;
    padding-left: 20px;
    font-size: 10px;
    line-height: 14px;
  }
  .header__menu {
    width: calc(100% - 375px);
  }
  .header__menu-link {
    margin-right: 40px;
    font-size: 18px;
    line-height: 35px;
  }
  .header__right-link {
    font-size: 18px;
    line-height: 35px;
  }
  .header__menu-btn {
    padding: 12px 32px 12px 32px;
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
  .header {
    height: 80px;
  }
  .header__logo-p {
    max-width: 175px;
  }
  .header__menu {
    width: calc(100% - 375px);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header__menu-left {
    display: none;
  }
  .header__menu-btn {
    padding: 12px 32px 12px 32px;
    font-size: 20px;
    background-color: #CF51CE;
    border-radius: 12px;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__btn-width760 {
    display: block;
    border: none;
    margin-left: 80px;
    background-color: #fff;
  }
}

@media (max-width: 970px) {
  .header {
    height: 80px;
  }
  .header__logo-p {
    max-width: 175px;
  }
  .header__menu {
    width: calc(100% - 375px);
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .header__right-link {
    display: none;
  }
  .header__menu-btn {
    padding: 12px 32px 12px 32px;
    font-size: 20px;
    background-color: #CF51CE;
    border-radius: 12px;
    color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__btn-width760 {
    display: block;
    border: none;
    margin-left: 80px;
    background-color: #fff;
  }
}

@media (max-width: 700px) {
  .header__btn-width760 {
    margin-left: 40px;
  }
}

@media (max-width: 560px) {
  .header {
    height: 53px;
  }
  .header__logo-img {
    width: 140px;
    padding-right: 0px;
    border: none;
  }
  .header__logo-p {
    display: none;
  }
  .header__menu {
    width: calc(100% - 170px);
  }
  .header__menu-btn {
    padding: 12px 20px 12px 20px;
    font-size: 14px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__menu-btn::before {
    content: '';
    background-image: url(../img/icons/arrow.svg);
    width: 13px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header__btn-width760 {
    margin-left: 15px;
  }
}

/*============= intro ==============
====================================*/
.intro__inner {
  width: 100%;
  background: url(../img/png/Bg-stars.png) right 0 bottom 0 no-repeat, url(../img/png/Superman.png) right 30px bottom 45px no-repeat;
}

.intro__body {
  max-width: 845px;
}

.intro__title-p {
  padding-top: 66px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(51, 26, 47, 0.5);
}

.intro__title-h1 {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  color: #331A2F;
}

.intro__title-h1-span {
  color: #CF51CE;
}

.intro__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__price-p {
  padding-left: 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}

.intro__price-span {
  font-weight: 700;
  font-size: 38px;
  line-height: 55px;
  color: #CF51CE;
}

.intro__text-p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}

.intro__text-p--width1280 {
  display: block;
}

.intro__text-p--width760 {
  display: none;
}

@media (max-width: 1390px) {
  .intro__inner {
    background: url(../img/png/Bg-stars.png) right 0 bottom 80px no-repeat, url(../img/png/Superman.png) right 0px bottom 114px no-repeat;
    background-size: 435px 435px;
  }
  .intro__body {
    max-width: 710px;
  }
  .intro__title-p {
    padding-top: 46px;
  }
  .intro__title-h1 {
    margin-bottom: 40px;
    font-size: 46px;
    line-height: 65px;
  }
  .intro__text-p {
    margin-top: 15px;
    font-size: 20px;
  }
  .intro__text-p:first-child {
    margin-top: 40px;
  }
}

@media (max-width: 1150px) {
  .intro__inner {
    background: url(../img/png/Superman.png) right -70px bottom 80px no-repeat;
    background-size: 410px 410px;
  }
  .intro__body {
    max-width: 100%;
  }
  .intro__title-h1 {
    margin-bottom: 18px;
    font-size: 46px;
    line-height: 65px;
  }
  .intro__text {
    max-width: 650px;
  }
  .intro__text-p {
    font-size: 20px;
  }
  .intro__text-p:first-child {
    margin-top: 17px;
  }
  .intro__text-p--width1280 {
    display: none;
  }
  .intro__text-p--width760 {
    display: block;
  }
}

@media (max-width: 1040px) {
  .intro__inner {
    background: url(../img/png/Superman.png) right -170px bottom 30px no-repeat;
    background-size: 410px 410px;
  }
  .intro__text {
    max-width: 610px;
  }
}

@media (max-width: 870px) {
  .intro__inner {
    background: url(../img/png/Superman.png) right -170px bottom 80px no-repeat;
    background-size: 410px 410px;
  }
  .intro__text {
    max-width: 482px;
  }
}

@media (max-width: 720px) {
  .intro__inner {
    background: url(../img/png/Superman.png) right -112px bottom 150px no-repeat;
    background-size: 245px 245px;
  }
  .intro__title-h1 {
    max-width: 400px;
    margin-bottom: 24px;
    font-size: 26px;
    line-height: 150%;
  }
  .intro__text {
    max-width: 500px;
  }
  .intro__text-p {
    margin-top: 10px;
    font-size: 18px;
  }
  .intro__text-p:first-child {
    margin-top: 16px;
  }
}

@media (max-width: 600px) {
  .intro__inner {
    background: url(../img/png/Superman.png) right -112px top 60px no-repeat;
    background-size: 245px 245px;
  }
  .intro__title-h1 {
    max-width: calc(100% - 130px);
  }
  .intro__text {
    max-width: 650px;
  }
}

/*============= presentation ==============
====================================*/
.presentation {
  width: 100%;
  padding-top: 147px;
}

.presentation__title {
  max-width: 830px;
  margin: 0 auto;
  padding-bottom: 85px;
  text-align: center;
}

.presentation__title-h2--width1280 {
  display: block;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #331A2F;
}

.presentation__title-h2--width760 {
  display: none;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #331A2F;
}

.presentation__title-h2-span {
  color: #EA5DBB;
}

.presentation__title-p {
  margin-top: 30px;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
}

.presentation__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentation__block--bottom {
  margin-bottom: 134px;
}

.presentation__block-img {
  margin-right: 80px;
}

.presentation__block-img--margin {
  margin-right: 0;
  margin-left: 80px;
}

.presentation__text {
  max-width: 730px;
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  color: rgba(51, 26, 47, 0.8);
}

@media (max-width: 1283px) {
  .presentation {
    padding-top: 77px;
  }
  .presentation__title {
    max-width: 650px;
  }
  .presentation__title-h2--width1280 {
    font-size: 40px;
  }
  .presentation__title-p {
    margin-top: 24px;
    font-size: 20px;
  }
  .presentation__block-img {
    width: 350px;
    height: 345px;
  }
  .presentation__text {
    max-width: 563px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .presentation {
    padding-top: 80px;
  }
  .presentation__title-h2--width1280 {
    display: none;
  }
  .presentation__title-h2--width760 {
    display: block;
    font-size: 40px;
  }
  .presentation__block {
    margin-bottom: 60px;
  }
  .presentation__block--bottom {
    margin-bottom: 120px;
  }
  .presentation__block-img {
    width: 269px;
    height: 265px;
    margin-right: 40px;
  }
  .presentation__block-img--margin {
    margin-right: 0;
    margin-left: 40px;
  }
}

@media (max-width: 600px) {
  .presentation {
    padding-top: 85px;
  }
  .presentation__title {
    padding-bottom: 50px;
  }
  .presentation__title-h2 {
    font-size: 24px;
    line-height: 150%;
    color: #331A2F;
  }
  .presentation__title-p {
    margin-top: 20px;
    font-size: 18px;
  }
  .presentation__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .presentation__block--bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 100px;
  }
  .presentation__text {
    font-size: 18px;
  }
  .presentation__block-img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 269px;
    height: 265px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .presentation__block-img--margin {
    margin-right: 0;
    margin-left: 0;
  }
}

/*============= footer ==============
====================================*/
.footer__inner {
  width: 100%;
  padding-left: 84px;
  padding-right: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 138px;
}

.footer__body {
  margin: 0 auto;
  width: 260px;
  margin-bottom: 60px;
}

.footer__btn {
  width: 70px;
  height: 70px;
  margin-bottom: 40px;
  background-color: #CF51CE;
  border-radius: 15px;
  border: none;
}

.footer__btn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #4a60d9;
}

.footer__body-h5 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #331A2F;
}

.footer__body-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

@media (max-width: 1283px) {
  .footer__inner {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 530px) {
  .footer {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */